<div class="container">
  <div class="row mt-3">
    <div class="col text-center">
      <h1>Profile</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 text-center">
      <h2>Favourite Meals</h2>
      <div *ngFor="let meal of favMeals">
        <p>{{meal.mealname}} - <a class="text-primary" [routerLink]="['/recipe', meal.mealid]">Get to it!</a> - <a
          class="text-danger removeLink" (click)="this.removeMealFromFavourites(meal.mealid)">Remove it!</a></p>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <h2>Favourite Drinks</h2>
      <div *ngFor="let drink of favDrinks">
        <p>{{drink.drinkname}} - <a class="text-primary" [routerLink]="['/drink', drink.drinkid]">Get to it!</a> - <a
          class="text-danger removeLink" (click)="this.removeDrinkFromFavourites(drink.drinkid)">Remove it!</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button mat-raised-button class="nav-button" (click)="onLogoutClick()">Logout</button>
    </div>
  </div>
</div>
