@import '~@angular/material/theming';

$my-app-primary: mat-palette($mat-green, 600);
$my-app-accent: mat-palette($mat-brown);
$my-app-warn: mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
