.row{
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
  margin-top: 20px;
  width: 500px;
  height: 500px;
  position: relative;
}

col{
  margin-top: 20px;
}

.ingredient{
  margin-top: 50px;
  text-align: left;
}

.ingredients{
  text-align: left;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}
