<main role="main">
  <div class="container">
    <div class="row">
      <div class="col">
        Massaman z curry i wołowiną
        <div class="col">
          <img src="../assets/food-page/massaman.jpg" alt="Massaman z curry i wołowiną">
        </div>
        </div>
        <div class="col ingredient">
          Składniki:
          <div class="col ingredients">
            <li>85g orzeszków ziemnych</li>
            <li>400ml kremu kokosowego</li>
            <li>4 łyżki pasty curry</li>
            <li>600g wołowiny</li>
            <li>450g ziemniaków</li>
            <li>1 cebula</li>
            <li>4 liści limonk</li>
            <li>1 pałkę cynamonu</li>
            <li>1 łyżka pasty tamarind</li>
            <li>1 łyżka brązowego cukru</li>
            <li>1 łyżka sosu rybnego</li>
            <li>1 czerwona papryczka chilli</li>
            <li>ryż według uznania</li>
           </div>
         </div>
      <div class="w-100"></div>
    </div>

