<main role="main">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-3">Jedzenie na każdą okazję!</h1>
      <p>Tutaj znajdziesz rozmaite przepisy na każdy posiłek!</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/random" role="button">Wylosuj posiłek &raquo;</a></p>
    </div>
  </div>


  <div id="top_3">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Posiłek nr 1</h2>
      <p class="lead">Oto pierwszy pomysł na posiłek. Co o tym myślisz? </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Posiłek nr 2</h2>
      <p class="lead">Oto nasza druga propozycja. Łatwe i szybkie przygotowanie. </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Posiłek nr 3</h2>
      <p class="lead">Nasza ostatnia propozycja. Tutaj można poszaleć z przyprawami. </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  </div>
