@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.content{
  width: 100%;
}

#content{
    width: 100%;
    height: 160vh;
    position: relative;
    color: black;
    background-color: white !important;
    background: url("../../../../assets/home-page/vegetables.png");
    background-repeat: no-repeat;
    background-size: contain;
    .title{
        position: absolute;
        transform: translate(37vw, 25vw);
        font-size: 4vw;
        font-family: 'Pacifico', cursive;
    }
    .describe{
        position: absolute;
        transform: translate(39vw, 29vw);
        font-size: 2vw;
        font-family: 'Shadows Into Light', cursive;
    }
}

#grey-panel {
  width: 50vw;
  margin: 20px auto;
  text-align: justify;
  line-height: 3vw;

  .quotation {
    font-family: 'PT Serif', serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.5vw;
  }

  .author {
    font-family: 'PT Serif', serif;
    text-align: right;
    font-weight: bold;
    color: rgb(97, 93, 93);
    font-size: 0.9vw;
  }
}

#second-panel{
    width: 100%;
    height: 115vh;
    background: url("../../../../assets/home-page/delicous-smoothie.png");
    background-repeat: repeat;
    background-size: cover;
}

@media (max-width: 1024px) {
    #content{
        width: 100%;
        height: 45vh;
    }
    #second-panel{
        width: 100%;
        height: 44vh;
    }
}

@media (max-width: 600px) {
    #content{
        width: 100%;
        height: 35vh;
    }
    #second-panel{
        width: 100%;
        height: 35vh;
    }
}


@media (max-width: 360px) {
    #content{
        width: 100%;
        height: 35vh;
    }
    #second-panel{
        width: 100%;
        height: 35vh;
    }
}


  
.top-3-recipes{
    width: 100%;
    min-height: 80vh;
    background-color: rgb(227, 228, 199);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2vw;
    
    .dish-card{      
      display: flex;
      flex-direction: column;
    }
    .btn{
      margin: 2vw;
      color: white;
    }
    img{  
      margin: 15px;    
      width: 250px;
      height: 260px;
      border: 10px;
      border-color: black;
    }
    
  

    
}
.modal{
  .modal-content{
      text-align: center;
      width: 900px;
      .modal-header{
          font-family: 'Roboto', sans-serif;;
          font-size: 5vw;
      }
      .modal-body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .ingredients{
          justify-content: left;
        }
        .full-image{
          img{
            height: 300px;
            width: 300px;
          }
        }
      }
  }
}

  
footer{
  width: 100%;
  height: 5vh;  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  color: white;
  background-color: rgb(62, 62, 65);
} 
    
  
