<div class="content">

  <div id="content">
    <img src="../../../../assets/home-page/vegetables.png"/>
  </div>

  <div id="grey-panel">
    <hr id="top-line">
    <div>
      <p class="quotation">
        The discovery of a new dish confers more happiness on humanity, than the discovery of a new star.
      </p>
      <p class="author">
        ~ Anthelme Brillat-Savarin
      </p>
    </div>
    <hr id="bottom-line">
  </div>


  <div id="second-panel">
    <img src="../../../../assets/home-page/delicous-smoothie.png"/>
  </div>

  <div class="top-3-recipes">
    <div class="dish-card">
      <img src="../../../../assets/home-page/top-panel/dim-sum.jpg" alt="..." class="rounded-circle">
      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header text-center"> - Dim Sum -</div>
        <div class="card-body text-secondary">
          <h5 class="card-title text-center">origin: Asia</h5>
          <p class="card-text">Dim sum houses, the server with the steamed crystal shrimp dumplings, commonly known as
            “xia jiao” or “har gow” in Cantonese</p>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#dimsum" data-backdrop="false">
            See more...
          </button>
        </div>
      </div>
    </div>

    <div class="dish-card">
      <img src="../../../../assets/home-page/top-panel/mushroom-pasta.png" alt="..." class="rounded-circle">
      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header text-center"> - Vegan Mushroom Pasta -</div>
        <div class="card-body text-secondary">
          <h5 class="card-title text-center">origin: Italy</h5>
          <p class="card-text">A quick recipe for Vegan Mushroom Pasta with Spinach. This pasta dish is delicious,
            healthy and easy to make. It's ready in only 15 minutes and makes a perfect simple dinner or lunch.</p>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#mushroom"
                  data-backdrop="false">
            See more...
          </button>
        </div>
      </div>
    </div>

    <div class="dish-card">
      <img src="../../../../assets/home-page/top-panel/duck-orange.jpg" alt="..." class="rounded-circle">
      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header text-center"> - Duck & Orange salad -</div>
        <div class="card-body text-secondary">
          <h5 class="card-title text-center">origin: Australia</h5>
          <p class="card-text">Crisp skinned duck paired with a smoky dressing and crunchy raw fennel make this the
            perfect celebration salad.</p>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ducksalad"
                  data-backdrop="false">
            See more...
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="dimsum" tabindex="0" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dim Sum</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="ingredients col-6">
            <ul><i><b>Ingredients:</b></i></ul>
            <li>1/2 pound raw shrimp, peeled, de-veined and patted dry</li>
            <li>1 teaspoon oyster sauce</li>
            <li>1 tablespoon vegetable oil</li>
            <li>1/4 teaspoon white pepper</li>
            <li>1 teaspoon sesame oil</li>
            <li>1/4 teaspoon salt</li>
            <li>1 teaspoon sugar</li>
            <li>1/2 teaspoon minced ginger</li>
            <li>1/4 cup finely chopped bamboo shoots</li>
          </div>

          <div class="full-image col-6">
            <img src="../../../../assets/home-page/top-panel/dim-sum.jpg" alt="..." class="rounded-circle">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ducksalad" tabindex="0" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Duck & Orange salad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="ingredients col-6">
            <ul><i><b>Ingredients:</b></i></ul>
            <li>2 x 150 g duck breast fillets , skin on</li>
            <li>1 baguette</li>
            <li>15 g shelled unsalted walnut halves</li>
            <li>3 regular oranges , or blood oranges</li>
            <li>30 g watercress</li>
          </div>
          <div class="full-image col-6">
            <img src="../../../../assets/home-page/top-panel/duck-orange.jpg" alt="..." class="rounded-circle">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mushroom" tabindex="0" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Vegan Mushroom Pasta with Spinach</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="ingredients col-6">
            <ul><i><b>Ingredients:</b></i></ul>
            <li>14 oz (gluten-free) pasta of choice (400 g)</li>
            <li>3 tbsp olive oil</li>
            <li>1 onion chopped</li>
            <li>3 cloves of garlic minced</li>
            <li>4 oz mushrooms (400 g) sliced</li>
            <li>10,5 oz baby spinach (300 g) fresh</li>
            <li>approx. 1/2 cup vegetable broth (or plant-based cream*)</li>
            <li>salt & pepper to taste</li>
          </div>
          <div class="full-image col-6">
            <img src="../../../../assets/home-page/top-panel/mushroom-pasta.png" alt="..." class="rounded-circle">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
