<div id="content">
  <div class="title">Healthy food</div>
  <div class="describe">recipes for every day</div>
</div>
<hr style="color: green; height: 2px; width: 80%;">
<div id="grey-panel">
  <p class="quotation">
    Odkrycie nowego dania większym jest szczęściem dla ludzkości, niż odkrycie nowej gwiazdy.
  </p>
  <p class="author">
    ~ Anthelme Brillat-Savarin
  </p>
</div>
  <hr style="color: green; height: 2px; width: 40%;">
<div id="second-panel">
  <!-- <img src="../../../../assets/home-page/delicous-smoothie.png" width="100vw" height="auto" alt=""> -->
</div>
<div class="footer">
  &copy; Copyright 2020 | IO2
</div>
