<div class="container">
  <div class="row">
    <div class="col text-center p-3">
      <img class="drinkLogo" src="assets/pictures/drink_icon.png" alt="Drink logo">
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h1>Coctails</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col text-center">
      <p>Welcome to the coctails tab! You can find here a lot of drinks and coctails
        from around the world. You can choose a specific one and get the ingredients
        along with the description how to make it. If you want to surprise yourself,
        pick one of three random coctails listed down below. Or all three. We take
        no responsibility for actions taken.</p>
    </div>
  </div>
  <div class="row randomDrinks justify-content-center">
    <div class="col-12 col-md-3" *ngFor="let drink of randomThreeDrinks">
      <a href="{{ drink.idDrink }}">
      <img class="randomDrinkPic" src="{{ drink.strDrinkThumb }}" alt="random drink">
      </a>
      <p class="category">{{ drink.strCategory }}</p>
      <h2>{{ drink.strDrink }}</h2>
    </div>
  </div>
</div>
